html body {
    background-color: #565656;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 5%;
    border-bottom: solid black;
    justify-content: left;
    align-items: center;
    background-color: #3F3F3F;
}

.navbar > a { /* These are the boxes holding the text */
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Needed here otherwise the underline from
                              href will show up */
}

.navbar > a > div { /* The actual text (inside of a div) */
    display: flex;
    color: orange;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.page { /* page div below the navbar*/
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%; height: 100%;
    max-width: 100%; max-height: 100%;
    top: 5%; left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.page > div {
    margin: 1%;
    max-height: 100%;
    max-width: 100%;
}

.downloads * { /* list containing all the downloads */
    margin: 1%;
    display: flex;
    flex-direction: column;
    left: 0;
    width: fit-content; height: fit-content;
    max-width: 100%; max-height: 100%;
}

/** > div {
    border: solid black;
}